@page
@model AuthzDemoWeb.Pages.Articles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Article.Id" />
            <div class="form-group">
                <label asp-for="Article.Name" class="control-label"></label>
                <input asp-for="Article.Name" class="form-control" />
                <span asp-validation-for="Article.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Owner" class="control-label"></label>
                <input asp-for="Article.Owner" class="form-control" />
                <span asp-validation-for="Article.Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Price" class="control-label"></label>
                <input asp-for="Article.Price" class="form-control" />
                <span asp-validation-for="Article.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Buyer" class="control-label"></label>
                <input asp-for="Article.Buyer" class="form-control" />
                <span asp-validation-for="Article.Buyer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.State" class="control-label"></label>
                <select asp-for="Article.State" class="form-control"></select>
                <span asp-validation-for="Article.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Maturity" class="control-label"></label>
                <select asp-for="Article.Maturity" class="form-control"></select>
                <span asp-validation-for="Article.Maturity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
